@using SiteManagement.Configuration.Permission
@model List<SiteManagement.Application.Contract.ContactUs.ContactUsViewModel>


<div class="row" permission="@SitePermissions.Messages">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">لیست پیغام ها (@Model.Count)</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center table-responsive">
                        <table id="datatable" class="table table-striped table-bordered ">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>نام کاربر</th>
                                    <th>ایمیل کاربر</th>
                                    <th>پیغام</th>
                                    <th>تاریخ ارسال</th>
                                    <th>عملیات</th>
                                </tr>
                            </thead>


                            <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td>@item.Email</td>
                                    <td>@item.Message</td>
                                    <td>@item.CrationDate</td>
                                    <td>
                                        @if (!item.Status)
                                        {
                                            <a permission="@SitePermissions.Status"
                                               href="#operation=@Url.Page("./Index", "Status", new {id = item.Id})" class="btn btn-success waves-effect waves-light">تایید مشاهده<i class="md md-edit"></i></a>
                                        }
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>