@model List<ShopManagement.Application.Contract.Product.ProductViewModel>


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">لیست گروه محصولات</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center table-responsive">
                        <table id="datatable" class="table table-striped table-bordered ">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>تصویر محصول</th>
                                <th>نام</th>
                                <th>کد</th>
                                <th>گروه محصول</th>
                                <th>وضعیت محصول</th>
                                <th>تاریخ ایجاد</th>
                                <th>عملیات</th>
                            </tr>
                            </thead>


                            <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>
                                        <img src="@item.Image" style="width: 80px; height: 80px" alt="@item.Name"/>
                                    </td>
                                    <td>@item.Name</td>
                                    <td>@item.ProductCode</td>
                                    <td>@item.CategoryName</td>
                                    <td>
                                        @if (item.IsRemoved)
                                        {
                                            <i class="md md-close text-danger"></i>
                                            <span>غیر فعال</span>
                                        }
                                        else
                                        {
                                            <i class="md md-check text-success"></i>
                                            <span>فعال</span>
                                        }
                                    </td>
                                    <td>@item.CreationDate</td>
                                    <td>
                                        <a href="#showmodal=@Url.Page("./Index", "Edit", new {id = item.Id})" class="btn btn-warning waves-effect waves-light">ویرایش <i class="md md-edit"></i></a>

                                        @if (item.IsRemoved)
                                        {
                                            <a href="#operation=@Url.Page("./Index", "Restore", new {id = item.Id})" class="btn btn-success waves-effect waves-light">فعال <i class="md md-check"></i></a>
                                        }
                                        else
                                        {
                                            <a href="#operation=@Url.Page("./Index", "Remove", new {id = item.Id})" class="btn btn-danger waves-effect waves-light">غیر فعال <i class="md md-close"></i></a>
                                        }
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>